.container-table {
	display: flex;
	flex-direction: column;
	align-items: center;	
}
.align-table {
  overflow: auto;
  height: 70vh;
	border: 2px solid #dce4ec;
  border-radius: 5px;
	border: none;
}
.align-pokemones {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: space-between;
	background: #FFFFFF;
	width: 570px;
  margin-bottom: 10px;
  border-radius: 5px;
	padding: 0px 30px;
	cursor: pointer;
}
.min {
  min-width: 200px;
}
.loading {
  text-align: center;
  position: absolute;
  color: #fff;
  z-index: 9;
  padding: 8px 18px;
  border-radius: 5px;
  left: calc(50% - 45px);
  top: calc(50% - 18px);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}