@import './components/index.css';
@import './generic/style.css';
@import './components/table.css';
@import './components/modal.css';
@import './components/search.css';
@import './mediaquery/media.css';