@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
body {
  font-family: 'Lato', sans-serif;
  background: #E5E5E5;
  box-sizing: content-box;
  font-style: normal;
}
.error {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.button {
	background: #F22539;
	border: none;
	border-radius: 60px;
	color: white;
	width: 200px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-right: 15px;
	margin-top: 20px;
}
.delete-decorator {
	text-decoration: none;
}